@reference "tailwindcss";

.arrowBtn {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full p-3 text-white transition opacity-50 hover:cursor-pointer hover:opacity-100;
}
.slide {
  @apply flex h-full w-full items-center justify-center;
  max-width: 1500px;
}
.backgroundTransparent {
  background-image: url("../../../assets/backgroundstax.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
