.bgImg {
  display: flex;
  border-radius: 50%;
  min-height: 400px;
  width: 400px;
  background-image: url("../../assets/32625.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(20px 20px 0px rgba(63, 93, 129, 0.4))
    drop-shadow(40px 40px 0px rgba(63, 93, 129, 0.2));
}
