@reference "tailwindcss";

.bgImg {
  @apply relative flex bg-cover bg-no-repeat;
  border-radius: 40px;
  background-position-x: 100%;
  animation: float 6s ease-in-out infinite;
}
.bgSlide1 {
  @apply lg:min-h-96 lg:w-96 w-2/3 sm:min-h-full h-64;
  background-image: url("../../assets/slide1pic.jpg");
}
.bgSlide2 {
  @apply lg:w-96 w-2/3 sm:min-h-full h-64;
  background-image: url("../../assets/slide2pic.jpg");
}
.bgSlide3 {
  @apply lg:min-h-96 lg:w-4/5 w-2/3 sm:min-h-full h-64;
  background-image: url("../../assets/mesa_crm.jpeg");
}

.desc {
  overflow: hidden;
  transition: height 1s ease;
  margin: 0 12px;
}
.text {
  border-radius: 40px;
}
.bgImg .desc {
  height: 0;
}
.bgImg:hover .desc {
  height: 200px;
}

.title {
  @apply font-bold text-white lg:text-4xl text-3xl;
}
.paragraph {
  @apply lg:text-xl text-base;
}
.section {
  @apply flex h-full w-full lg:w-1/2 items-center justify-center;
}
.textDiv {
  @apply flex flex-col max-w-xl pr-8 pl-8 mb-12;
}
.btnsDiv {
  @apply flex flex-col mt-8 lg:p-4 p-0 gap-4;
}
.imgDiv {
  @apply flex h-full p-8 items-center justify-center w-full;
}
.linking {
  @apply lg:p-2 p-1 rounded-full absolute hover:cursor-pointer transition;
  top: -10px;
  right: -10px;
}
.linking img {
  @apply lg:h-10 lg:w-10 w-6 h-6 hover:h-12 hover:w-12 transition-all;
}
.separator {
  @apply m-6 ml-2;
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@media (width >= 64rem /* 1024px */) {
  .bgSlide2 {
    min-height: 540px;
  }
  .desc {
    margin: 0 32px;
  }
}
