@reference "tailwindcss";

.bgImg {
  @apply lg:min-h-96 lg:w-96 w-2/3 sm:min-h-full h-64 relative;
  background-image: url("../../assets/3488.jpg");
  border-radius: 40px;
  background-size: cover;
  background-position-x: 100%;
  background-repeat: no-repeat;
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(20px 20px 0px rgba(63, 93, 129, 0.4))
    drop-shadow(40px 40px 0px rgba(63, 93, 129, 0.2));
}
.title {
  @apply font-bold text-white lg:text-5xl text-2xl;
}
.paragraph {
  @apply lg:text-2xl text-base;
}
.section {
  @apply flex h-full w-full lg:w-1/2 items-center justify-center;
}
.textDiv {
  @apply flex flex-col max-w-xl pr-8 pl-8 mb-12;
}
.btnsDiv {
  @apply flex flex-col mt-8 lg:p-4 p-0 gap-4;
}
.imgDiv {
  @apply flex h-full p-8 items-center justify-center w-full;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
