.background {
  background-image: url("../../../assets/backgroundtransparent.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.drop {
  filter: drop-shadow(-8px 16px 1px #3f5d8170);
}
.float {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    filter: drop-shadow(-8px 16px 1px #3f5d8199);
    transform: translatey(0px);
  }
  50% {
    filter: drop-shadow(-8px 16px 1px #3f5d8133);
    transform: translatey(-20px);
  }
  100% {
    filter: drop-shadow(-8px 16px 1px #3f5d8199);
    transform: translatey(0px);
  }
}
.shadow {
  filter: drop-shadow(-8px 16px 1px #3f5d8170);
}
.rotate:hover {
  -webkit-animation: spin 8mss linear infinite;
  -moz-animation: spin 8s linear infinite;
  animation: spin 8s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
