@reference "tailwindcss";

.bgImg {
  background-image: url("../../../assets/3488.jpg");
  height: 25vw;
  width: 25vw;
  min-width: 400px;
  min-height: 400px;
  border-radius: 40px;
  background-size: cover;
  background-position-x: 100%;
  background-repeat: no-repeat;
  animation: float 6s ease-in-out infinite;
  filter: drop-shadow(20px 20px 0px rgba(63, 93, 129, 0.4))
    drop-shadow(40px 40px 0px rgba(63, 93, 129, 0.2));
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
