@reference "tailwindcss";
.waves {
  background-image: url("../../assets/blueWaves.svg");
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: repeat-x;
  height: 340px;
  display: flex;
  align-items: end;
}
.animate {
  transition: padding 1s ease;
}
